body {
	margin: 0;
	overflow-x: hidden;
	background-color: #B0B4C8;
	font-family: 'Raleway', sans-serif;
}

#top-nav {
	position: absolute;
	right: 0;
	border-width: 0px !important;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 50px;
	margin-right: 20px;
	padding-top: 20px;
	position: relative; 
}

nav a {
	color: #ffff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 20px;
	letter-spacing: 0.2em;
}

nav a::before {
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	background-color: #ffff;
	position: absolute;
	bottom: 0;
	width: 0%;
	transition: all ease-in-out 200ms;
}

nav a:hover::before {
	width: 100%
}

#main-bg {
	background-image: url("../img/background.jpg");
	background-attachment: fixed;
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 200vh;
}


#second-page {
/*
	background-color: #0A131C;
*/
	background-color: #212D3A;
	height: 200vh;
	width: 200vh;
}

.image .logo {
	position: absolute;
	margin-left: -21%;
	top: 10%;
	z-index: 1;
}


.image .logobg {
	opacity: 0.65;
	position: absolute;
	margin-left: -21%;
	top: 9%;
}

.date {
	position: absolute;
	left: 0;
	right: 0;
	text-align:center;
	top: 46%;	
	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 40px;
	text-align: center;
	letter-spacing: 0.2em;
	color: #ffff;
}

.title_bio {
	padding-top: 5px;	
	font-family: Raleway;
	font-style: normal;
	line-height: normal;
	font-size: 35px;
	letter-spacing: 0.2em;
	color: #ffff;
	text-align: center;
}

.title_bio:last-child {
	margin-left: 10px;
}

.body_bio {	
	font-family: Raleway;
	font-style: normal;
	line-height: normal;
	font-size: 14px;
	letter-spacing: 0.2em;
	color: #ffff;
	text-align: center;
	width: 250px;
	line-height: 40px;
	margin: 0 auto;
}

#container {
	padding-top: 60px;
	position: absolute;
	width: 100%;
	left: 13%;
}

.squares {
	width: 270px;
	margin-right: 10%;
	height: 250px;
	float: left;
	background-color: #313249;
	border-radius: 30px;
}






